<div class="login-page" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img class="user-avatar" src="assets/images/logo.png" width="150px" />
                <h1>SignUP</h1>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-content">
                        <div class="form-group">
                                    <input type="text" formControlName="nomAdmin" Placeholder="Name" class="form-control input-underline input-lg" 
                                    [ngClass]="{ 'is-invalid': submitted && f.nomAdmin.errors }" [(ngModel)]='admin.nomAdmin' />
                                    <div *ngIf="submitted && f.nomAdmin.errors" class="invalid-feedback">
                                        <div *ngIf="f.nomAdmin.errors.required">Name is required</div>
                                    </div>
                        </div>

                        <div class="form-group">
                                    <input type="text" formControlName="workInterparking" Placeholder="Work" class="form-control input-underline input-lg" 
                                    [ngClass]="{ 'is-invalid': submitted && f.workInterparking.errors }" [(ngModel)]='admin.workInterparking' />
                                    <div *ngIf="submitted && f.workInterparking.errors" class="invalid-feedback">
                                        <div *ngIf="f.workInterparking.errors.required">Work is required</div>
                                    </div>
                        </div>

                        <div class="form-group">
                                    <input type="password" formControlName="password" Placeholder="Password" class="form-control input-underline input-lg" 
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)]='admin.password' />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                        </div>
                        <div class="form-group">
                                    <button [disabled]="loading" class="btn rounded-btn">Register</button>&nbsp;
                                    <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
    
    
    
    