<div class="login-page" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img class="user-avatar" src="assets/images/logo.png" width="150px" />
                <h1>SignUP</h1>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-content">
                        <div class="form-group">
                                    <input type="text" formControlName="NomAdmin" Placeholder="Name" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.NomAdmin.errors }" />
                                    <div *ngIf="submitted && f.NomAdmin.errors" class="invalid-feedback">
                                        <div *ngIf="f.NomAdmin.errors.required">Name is required</div>
                                    </div>
                        </div>

                        <div class="form-group">
                                    <input type="text" formControlName="WorkInterparking" Placeholder="Work" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.WorkInterparking.errors }" />
                                    <div *ngIf="submitted && f.WorkInterparking.errors" class="invalid-feedback">
                                        <div *ngIf="f.WorkInterparking.errors.required">Work is required</div>
                                    </div>
                        </div>

                        <div class="form-group">
                                    <input type="password" formControlName="Password" Placeholder="Password" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                                        <div *ngIf="f.Password.errors.required">Password is required</div>
                                        <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                        </div>
                        <div class="form-group">
                                    <button [disabled]="loading" class="btn rounded-btn">Register</button>&nbsp;
                                    <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
    
    
    
    